Repository dreamteamprod/DigiScript, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, client-js, server-js, vue

Update npm packages
  client/package-lock.json
  client/package.json
  client/vue.config.js
Labels: client-js

Move websocket clients list to application level
  server/app_server.py
  server/controllers/ws_controller.py
Labels: none

DigiScript application settings + code refactor
  server/.gitignore
  server/app_server.py
  server/controllers/api/__init__.py
  server/controllers/api/settings.py
  server/controllers/controllers.py
  server/controllers/ws_controller.py
  server/main.py
  server/models.py
  server/settings.py
  server/utils/__init__.py
  server/utils/env_parser.py
  server/utils/logger.py
  server/utils/singleton.py
Labels: none

Add 404 page
  client/src/router/index.js
  client/src/views/404View.vue
Labels: client-js, vue

Groundwork for creating a new show
  client/public/favicon.ico
  client/src/App.vue
  client/src/router/index.js
  client/src/store/store.js
  client/src/views/ConfigView.vue
  server/app_server.py
  server/controllers/api/shows.py
  server/controllers/controllers.py
  server/models.py
Labels: client-js, vue

Add Dockerfile
  Dockerfile
  README.md
Labels: repo

Address issue with Singelton class
  server/utils/singleton.py
Labels: none

npm update and audit fix
  client/package-lock.json
  client/package.json
Labels: none

API controller base class and runtime subclass checking for API controllers
  server/controllers/api/settings.py
  server/controllers/api/shows.py
  server/controllers/base_controller.py
  server/controllers/controllers.py
  server/route.py
Labels: none

Add creating a new show behaviour
  client/package-lock.json
  client/package.json
  client/src/main.js
  client/src/utils.js
  client/src/views/ConfigView.vue
  client/vue.config.js
  server/controllers/api/shows.py
  server/controllers/controllers.py
  server/requirements.txt
Labels: client-js, vue

Remove unimplemented methods from ShowController
  server/controllers/api/shows.py
Labels: none

Create dependabot.yml
  .github/dependabot.yml
Labels: none

Add pylint config file and auto fix some things
  server/.pylintrc
  server/controllers/api/shows.py
  server/main.py
  server/route.py
  server/settings.py
Labels: none

Only run pylint job on Python 3.10
  .github/workflows/pylint.yml
Labels: none

Fixes to pylint action
  .github/workflows/pylint.yml
Labels: none

Add dark style to DigiScript
  .idea/watcherTasks.xml
  client/package-lock.json
  client/package.json
  client/src/assets/styles/dark.scss
  client/src/assets/styles/light.scss
  client/src/main.js
Labels: client-js

Small change to how database connection is initialised
  server/app_server.py
  server/main.py
  server/models.py
Labels: none

Add API for returning all saved shows
  server/controllers/api/shows.py
  server/models.py
Labels: none

Add modal for loading show
  client/package.json
  client/src/store/store.js
  client/src/views/ConfigView.vue
Labels: client-js, vue

Load show and notify connected clients
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/main.js
  client/src/store/store.js
  client/src/views/ConfigView.vue
  client/vue.config.js
  server/controllers/api/settings.py
  server/controllers/api/shows.py
  server/controllers/ws_controller.py
  server/settings.py
Labels: client-js, vue

Add documentation for Websocket usage
  README.md
Labels: repo

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Refactor utils into js directory
  client/src/js/utils.js
  client/vue.config.js
Labels: client-js

Add basic framework for show config view
  client/src/App.vue
  client/src/router/index.js
  client/src/views/show/ShowConfigView.vue
Labels: client-js, vue

Readme improvements
  README.md
Labels: repo

Add basic framework for show config view
  client/src/App.vue
  client/src/router/index.js
  client/src/views/show/ShowConfigView.vue
Labels: client-js, vue

Module refactor and fix controller imports
  server/controllers/api/settings.py
  server/controllers/api/shows.py
  server/controllers/controllers.py
  server/controllers/ws_controller.py
  server/main.py
  server/models/__init__.py
  server/models/models.py
  server/server/__init__.py
  server/server/app_server.py
  server/utils/route.py
  server/utils/settings.py
Labels: none

Better behaviour of controllers handling resource requests
  client/vue.config.js
  server/controllers/controllers.py
  server/server/app_server.py
Labels: client-js

Fix issue with async override of non async methods
  server/controllers/base_controller.py
  server/controllers/controllers.py
Labels: none

Run autopep8 to format code
  server/controllers/controllers.py
  server/controllers/ws_controller.py
Labels: none

Utilise pyling-ignore to start from a baseline
  .github/workflows/pylint.yml
  server/pylint-ignore.md
  server/requirements.txt
Labels: none

Add basic framework for show config view
  client/src/App.vue
  client/src/router/index.js
  client/src/views/show/ShowConfigView.vue
  client/src/views/show/config/ConfigActs.vue
  client/src/views/show/config/ConfigCast.vue
  client/src/views/show/config/ConfigCharacters.vue
  client/src/views/show/config/ConfigScenes.vue
  client/src/views/show/config/ConfigScript.vue
Labels: client-js, vue

Add Github action for running npm linting
  .github/workflows/nodelint.yml
  client/package.json
Labels: none

Add Github action for running npm linting (#46)
  .github/workflows/nodelint.yml
  client/package.json
Labels: none

npm update
  client/package-lock.json
Labels: none

npm update
  client/package-lock.json
Labels: none

Add Github action for running npm linting (#46)
  .github/workflows/nodelint.yml
  client/package.json
Labels: none

Minor UI tweaks
  client/src/App.vue
  client/src/views/HomeView.vue
Labels: vue

Use uuid4 to identify websocket connections
  client/src/main.js
  client/src/store/store.js
  server/controllers/ws_controller.py
  server/models/models.py
Labels: client-js

Refactor Vuex store into modules
  client/src/store/modules/system.js
  client/src/store/modules/websocket.js
  client/src/store/store.js
Labels: client-js

.github/labeler.yml:

repo:
  - ./*
client-js:
  - any: ['client/**/*.js']
server-js:
  - any: ['server/**/*.js']
vue:
  - any: ['./**/*.vue']
