Repository dreamteamprod/DigiScript, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, client-js, server-js, vue

.github/labeler.yml:

repo:
  - ./*
client-js:
  - any: ['client/**/*.js']
server-js:
  - any: ['server/**/*.js']
vue:
  - any: ['./**/*.vue']

DIGI-4: Add node CV action
  .github/workflows/node.js.yml
  client/package.json
  server/.eslintrc.json
  server/package-lock.json
  server/package.json
  server/server.js
Labels: server-js

DIGI-4: Add node CV action
  .github/workflows/node.js.yml
  client/package.json
  server/.eslintrc.json
  server/package-lock.json
  server/package.json
  server/server.js
Labels: server-js

DIGI-5: Update readme with setup instructions
  README.md
Labels: repo

DIGI-5: Update readme with setup instructions
  README.md
Labels: repo

Code cleanup
  client/README.md
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/main.js
  server/package-lock.json
  vetur.config.js
Labels: repo, client-js

DIGI-6: Add logging to server
  server/package-lock.json
  server/package.json
  server/server.js
Labels: server-js

DIGI-6: Add logging to server
  server/package-lock.json
  server/package.json
  server/server.js
Labels: server-js

Revert "DIGI-6: Add logging to server"
  server/package-lock.json
  server/package.json
  server/server.js
Labels: server-js

Revert "DIGI-6: Add logging to server"
  server/package-lock.json
  server/package.json
  server/server.js
Labels: server-js

DIGI-6: Add logging to server
  server/config/winston.js
  server/package-lock.json
  server/package.json
  server/server.js
Labels: server-js

DIGI-6: Add logging to server
  server/config/winston.js
  server/package-lock.json
  server/package.json
  server/server.js
Labels: server-js

Remove Node 10 and 12 from test matrix
  .github/workflows/node.js.yml
Labels: none

DIGI-7: Add file based config parsing
  server/config.json
  server/package-lock.json
  server/package.json
  server/server.js
Labels: server-js

Update readme
  README.md
Labels: repo

Update config
  server/config.json
Labels: none

Lint fixing
  server/server.js
Labels: server-js

DIGI-7: Add file based config parsing (#9)
  README.md
  server/config.json
  server/package-lock.json
  server/package.json
  server/server.js
Labels: repo, server-js

DIGI-8: Add basic front end routing
  client/.browserslistrc
  client/.editorconfig
  client/.eslintrc.js
  client/babel.config.js
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/App.vue
  client/src/assets/app.scss
  client/src/components/HelloWorld.vue
  client/src/main.js
  client/src/router/index.js
  client/src/store/index.js
  client/src/views/About.vue
  client/src/views/Home.vue
  server/package-lock.json
  server/package.json
  server/server.js
Labels: client-js, server-js, vue

DIGI-8: Add basic front end routing (#10)
  client/.browserslistrc
  client/.editorconfig
  client/.eslintrc.js
  client/babel.config.js
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/App.vue
  client/src/assets/app.scss
  client/src/components/HelloWorld.vue
  client/src/main.js
  client/src/router/index.js
  client/src/store/index.js
  client/src/views/About.vue
  client/src/views/Home.vue
  server/package-lock.json
  server/package.json
  server/server.js
Labels: client-js, server-js, vue

DIGI-9: Do not reroute API calls on the server side
  server/server.js
Labels: server-js

DIGI-9: Do not reroute API calls on the server side (#11)
  server/server.js
Labels: server-js

DIGI-10: Add 404 page
  client/src/router/index.js
  client/src/views/404.vue
Labels: client-js, vue

DIGI-10: Add 404 page (#12)
  client/src/router/index.js
  client/src/views/404.vue
Labels: client-js, vue

Server code refactor
  server/package.json
  server/src/api/api.js
  server/src/logging/winston.js
  server/src/server.js
Labels: server-js

Initial commit
  .gitignore
  .idea/.gitignore
  .idea/DigiScript-2.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/jsLibraryMappings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
Labels: repo

Basic project structure
  .idea/DigiScript-2.iml
  client/.editorconfig
  client/.gitignore
  client/README.md
  client/babel.config.js
  client/jsconfig.json
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/src/App.vue
  client/src/assets/Dream Team Logo.png
  client/src/assets/logo.png
  client/src/main.js
  client/src/router/index.js
  client/src/views/AboutView.vue
  client/src/views/HomeView.vue
  client/vue.config.js
  server/.gitignore
  server/.python-version
  server/__init__.py
  server/__pycache__/controllers.cpython-310.pyc
  server/__pycache__/route.cpython-310.pyc
  server/__pycache__/server.cpython-310.pyc
  server/controllers.py
  server/main.py
  server/requirements.txt
  server/route.py
  server/server.py
Labels: client-js, vue

Cleanup Python git ignore
  server/.gitignore
  server/__pycache__/controllers.cpython-310.pyc
  server/__pycache__/route.cpython-310.pyc
  server/__pycache__/server.cpython-310.pyc
Labels: none

Basic API routing implementation
  server/controllers.py
  server/route.py
Labels: none

Improve readme
  README.md
Labels: repo

Basic websocket and database implementations
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/main.js
  server/app_server.py
  server/controllers.py
  server/logger.py
  server/main.py
  server/requirements.txt
  server/server.py
  server/utils.py
Labels: client-js, vue

Use environment variables for DB path
  server/app_server.py
  server/env_parser.py
  server/models.py
Labels: none

Add websocket sessions to DB table
  .idea/DigiScript-2.iml
  .idea/dataSources.xml
  server/.gitignore
  server/app_server.py
  server/controllers.py
  server/env_parser.py
  server/logger.py
  server/main.py
  server/models.py
Labels: none

npm update and audit fix
  client/package-lock.json
Labels: none

Add Vuex store and configure for Websocket
  client/package-lock.json
  client/package.json
  client/src/main.js
  client/src/store/store.js
Labels: client-js

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

Create pylint.yml
  .github/workflows/pylint.yml
Labels: none

Pylint server code
  server/app_server.py
  server/controllers.py
  server/env_parser.py
  server/logger.py
  server/utils.py
Labels: none

Properly handle client side routing URLs
  .idea/DigiScript-2.iml
  client/vue.config.js
  server/.gitignore
  server/app_server.py
  server/controllers/__init__.py
  server/controllers/base_controller.py
  server/controllers/controllers.py
  server/controllers/ws_controller.py
Labels: client-js

Remove bullets from about page
  client/src/views/AboutView.vue
Labels: vue

Improve websocket handling logic
  server/app_server.py
  server/controllers/ws_controller.py
Labels: none
