Repository dreamteamprod/DigiScript, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, client-js, server-js, vue

Handle WebSocket reconnections
  client/src/store/modules/websocket.js
  server/controllers/ws_controller.py
Labels: client-js

Add connected clients to system config view
  client/src/views/ConfigView.vue
  server/controllers/api/websocket.py
  server/controllers/controllers.py
Labels: vue

Fix CV errors
  server/.pylintrc
  server/controllers/ws_controller.py
Labels: none

Client connection improvements (#49)
  client/src/main.js
  client/src/store/modules/system.js
  client/src/store/modules/websocket.js
  client/src/store/store.js
  client/src/views/ConfigView.vue
  server/.pylintrc
  server/controllers/api/websocket.py
  server/controllers/controllers.py
  server/controllers/ws_controller.py
  server/models/models.py
Labels: client-js, vue

npm update
  client/package-lock.json
Labels: none

Ensure sessions timer is cleared when page is closed
  client/src/views/ConfigView.vue
Labels: vue

Fix issue with updating settings through websocket
  client/src/App.vue
  client/src/main.js
  client/src/store/modules/system.js
  client/src/store/modules/websocket.js
  server/controllers/api/settings.py
Labels: client-js, vue

Add basic framework for show config view
  client/src/App.vue
  client/src/router/index.js
  client/src/views/show/ShowConfigView.vue
  client/src/views/show/config/ConfigActs.vue
  client/src/views/show/config/ConfigCast.vue
  client/src/views/show/config/ConfigCharacters.vue
  client/src/views/show/config/ConfigScenes.vue
  client/src/views/show/config/ConfigScript.vue
Labels: client-js, vue

Add DB models for Cast and Characters
  server/models/models.py
Labels: none

Add configuration of cast list
  client/src/App.vue
  client/src/store/modules/show.js
  client/src/store/modules/websocket.js
  client/src/store/store.js
  client/src/views/show/ShowConfigView.vue
  client/src/views/show/config/ConfigCast.vue
  server/controllers/api/show/__init__.py
  server/controllers/api/show/cast.py
  server/controllers/api/show/shows.py
  server/controllers/controllers.py
Labels: client-js, vue

Fix CV issues
  server/.pylintrc
  server/controllers/api/show/cast.py
Labels: none

Show config outline and configuration of cast list (#50)
  client/src/App.vue
  client/src/router/index.js
  client/src/store/modules/show.js
  client/src/store/modules/websocket.js
  client/src/store/store.js
  client/src/views/show/ShowConfigView.vue
  client/src/views/show/config/ConfigActs.vue
  client/src/views/show/config/ConfigCast.vue
  client/src/views/show/config/ConfigCharacters.vue
  client/src/views/show/config/ConfigScenes.vue
  client/src/views/show/config/ConfigScript.vue
  server/.pylintrc
  server/controllers/api/show/__init__.py
  server/controllers/api/show/cast.py
  server/controllers/api/show/shows.py
  server/controllers/controllers.py
  server/models/models.py
Labels: client-js, vue

Add helper for sending data to all websockets
  server/controllers/api/settings.py
  server/controllers/api/show/cast.py
  server/server/app_server.py
Labels: none

Fix CV issues
  server/controllers/api/settings.py
  server/controllers/api/show/cast.py
  server/server/app_server.py
Labels: none

Add websocket send to all helper (#51)
  server/controllers/api/settings.py
  server/controllers/api/show/cast.py
  server/server/app_server.py
Labels: none

Fix issue with page load order
  client/src/App.vue
Labels: vue

Improve client readme and add server readme
  client/README.md
  server/README.md
Labels: none

Migrated Docker to persistent volume storage. Moved confs.
  .idea/dataSources.xml
  client/package-lock.json
  client/package.json
  docker-compose.yaml
  server/.gitignore
  server/utils/env_parser.py
  server/utils/settings.py
Labels: repo

removed make npm
  client/package-lock.json
  client/package.json
Labels: none

Remove package-lock file from commit
  client/package-lock.json
Labels: none

Migrated Docker to persistent volume storage (#55)
  .idea/dataSources.xml
  docker-compose.yaml
  server/.gitignore
  server/utils/env_parser.py
  server/utils/settings.py
Labels: repo

Basic file structure needed for character config
  client/src/store/modules/show.js
  server/controllers/api/show/characters.py
  server/controllers/controllers.py
Labels: client-js

Configuration of characters
  .idea/DigiScript-2.iml
  client/src/store/modules/show.js
  client/src/store/modules/websocket.js
  client/src/views/show/config/ConfigCharacters.vue
  server/.pylintrc
  server/controllers/api/show/characters.py
  server/models/models.py
  server/models/schemas.py
  server/requirements.txt
Labels: client-js, vue

Configuration of characters (#59)
  .idea/DigiScript-2.iml
  client/src/store/modules/show.js
  client/src/store/modules/websocket.js
  client/src/views/show/config/ConfigCharacters.vue
  server/.pylintrc
  server/controllers/api/show/characters.py
  server/controllers/controllers.py
  server/models/models.py
  server/models/schemas.py
  server/requirements.txt
Labels: client-js, vue

Store websocket UUID in session storage
  client/package-lock.json
  client/package.json
  client/src/store/store.js
Labels: client-js

npm update and audit fix
  client/package-lock.json
Labels: none

Store websocket UUID in session storage
  client/package-lock.json
  client/package.json
  client/src/store/store.js
Labels: client-js

npm update and audit fix
  client/package-lock.json
Labels: none

Migrate to marshmallow dumping of objects
  server/controllers/api/show/cast.py
  server/controllers/api/show/shows.py
  server/controllers/api/websocket.py
  server/models/models.py
  server/models/schemas.py
Labels: none

Migrate to marshmallow dumping of objects (#62)
  server/controllers/api/show/cast.py
  server/controllers/api/show/shows.py
  server/controllers/api/websocket.py
  server/models/models.py
  server/models/schemas.py
Labels: none

Do not import utils.js globally
  client/src/store/modules/show.js
  client/src/store/modules/system.js
  client/src/views/ConfigView.vue
  client/vue.config.js
Labels: client-js, vue

Do not import jQuery globally
  client/src/store/modules/show.js
  client/src/store/modules/system.js
  client/vue.config.js
Labels: client-js

Update docker commands to reflect compose
  README.md
Labels: repo

Do not import jQuery globally
  client/src/store/modules/show.js
  client/src/store/modules/system.js
  client/vue.config.js
Labels: client-js

Do not import utils.js globally
  client/src/store/modules/show.js
  client/src/store/modules/system.js
  client/src/views/ConfigView.vue
  client/vue.config.js
Labels: client-js, vue

Update docker commands to reflect compose
  README.md
Labels: repo

Remove globals from package.json
  client/package.json
Labels: none

Remove globals from package.json
  client/package.json
Labels: none

Create LICENSE
  LICENSE
Labels: repo

Validate show start and end date ordering
  client/src/views/ConfigView.vue
  server/controllers/api/show/shows.py
Labels: vue

.github/labeler.yml:

repo:
  - ./*
client-js:
  - any: ['client/**/*.js']
server-js:
  - any: ['server/**/*.js']
vue:
  - any: ['./**/*.vue']
