Repository dreamteamprod/DigiScript, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, client-js, server-js, vue

.github/labeler.yml:

repo:
  - ./*
client-js:
  - any: ['client/**/*.js']
server-js:
  - any: ['server/**/*.js']
vue:
  - any: ['./**/*.vue']

Validate show start and end date ordering
  client/src/views/ConfigView.vue
  server/controllers/api/show/shows.py
Labels: vue

npm update
  client/package-lock.json
  client/package.json
Labels: none

Set page title properly
  client/vue.config.js
Labels: client-js

Do not require show_id param in requests
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  client/src/store/modules/show.js
  client/src/store/modules/system.js
  server/controllers/api/show/cast.py
  server/controllers/api/show/characters.py
  server/controllers/api/show/shows.py
  server/controllers/base_controller.py
Labels: client-js

Address CV issues
  server/controllers/base_controller.py
Labels: none

Add current show to request handler during prepare (#69)
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  client/src/store/modules/show.js
  client/src/store/modules/system.js
  server/controllers/api/show/cast.py
  server/controllers/api/show/characters.py
  server/controllers/api/show/shows.py
  server/controllers/base_controller.py
Labels: client-js

Add model and schema for acts
  server/models/models.py
  server/models/schemas.py
Labels: none

Add UI and controllers to add new act
  client/src/store/modules/show.js
  client/src/views/show/config/ConfigActs.vue
  server/controllers/api/show/acts.py
  server/controllers/controllers.py
Labels: client-js, vue

Editing and deleting acts
  client/src/views/show/config/ConfigActs.vue
  server/controllers/api/show/acts.py
Labels: vue

Address CV issues
  server/controllers/api/show/acts.py
Labels: none

Configuration of show acts (#73)
  client/src/store/modules/show.js
  client/src/views/show/config/ConfigActs.vue
  server/controllers/api/show/acts.py
  server/controllers/controllers.py
  server/models/models.py
  server/models/schemas.py
Labels: client-js, vue

Update settings on websocket reconnect
  client/src/App.vue
  client/src/store/modules/system.js
  server/controllers/ws_controller.py
Labels: client-js, vue

Update settings on websocket reconnect (#74)
  client/src/App.vue
  client/src/store/modules/system.js
  server/controllers/ws_controller.py
Labels: client-js, vue

Fix act controller name
  server/controllers/api/show/acts.py
Labels: none

Logging to a file
  server/server/app_server.py
  server/utils/logger.py
  server/utils/settings.py
Labels: none

Fix CV issues
  server/server/app_server.py
  server/utils/logger.py
Labels: none

Web server logging to file (#80)
  server/server/app_server.py
  server/utils/logger.py
  server/utils/settings.py
Labels: none

Only load show if ID is not None/null
  server/controllers/base_controller.py
Labels: none

Only load show if ID is not None/null (#82)
  server/controllers/base_controller.py
Labels: none

Ensure current show is cleared on client
  client/src/store/modules/show.js
  client/src/store/modules/system.js
Labels: client-js

Fix settings file saving with no indent
  server/utils/settings.py
Labels: none

Fix settings file saving with no indent
  server/utils/settings.py
Labels: none

Ensure current show is cleared on client
  client/src/store/modules/show.js
  client/src/store/modules/system.js
Labels: client-js

Programatically import controllers
  server/controllers/api/settings.py
  server/controllers/api/show/acts.py
  server/controllers/api/show/cast.py
  server/controllers/api/show/characters.py
  server/controllers/api/show/shows.py
  server/controllers/api/websocket.py
  server/controllers/controllers.py
  server/server/app_server.py
  server/utils/base_controller.py
  server/utils/pkg_utils.py
  server/utils/route.py
Labels: none

Fix CV issues
  server/controllers/api/settings.py
  server/controllers/api/show/acts.py
  server/controllers/api/show/cast.py
  server/controllers/api/show/characters.py
  server/controllers/api/show/shows.py
  server/controllers/api/websocket.py
  server/controllers/controllers.py
  server/utils/pkg_utils.py
Labels: none

Programatically import controllers (#86)
  server/controllers/api/settings.py
  server/controllers/api/show/acts.py
  server/controllers/api/show/cast.py
  server/controllers/api/show/characters.py
  server/controllers/api/show/shows.py
  server/controllers/api/websocket.py
  server/controllers/controllers.py
  server/server/app_server.py
  server/utils/base_controller.py
  server/utils/pkg_utils.py
  server/utils/route.py
Labels: none

Update pylint ignore file based on current code
  server/pylint-ignore.md
Labels: none

Type hinting improvements in app server class
  server/server/app_server.py
Labels: none

Fix CV issues
  server/server/app_server.py
Labels: none

Watch settings file for changes, and reload
  server/server/app_server.py
  server/utils/file_watcher.py
  server/utils/settings.py
Labels: none

Watch settings file for changes, and reload
  server/server/app_server.py
  server/utils/file_watcher.py
  server/utils/settings.py
Labels: none

Add scene models and schema, and UI to add new scenes
  client/src/store/modules/show.js
  client/src/views/show/config/ConfigScenes.vue
  server/controllers/api/show/scenes.py
  server/models/models.py
  server/models/schemas.py
Labels: client-js, vue

Configure first scene for an act
  client/src/store/modules/show.js
  client/src/views/show/ShowConfigView.vue
  client/src/views/show/config/ConfigScenes.vue
  server/controllers/api/show/acts.py
  server/models/models.py
  server/models/schemas.py
Labels: client-js, vue

Deleting scenes
  client/src/views/show/config/ConfigScenes.vue
  server/controllers/api/show/scenes.py
Labels: vue

Store previous scene on scenes, not next scene
  client/src/views/show/config/ConfigScenes.vue
  server/controllers/api/show/scenes.py
  server/models/models.py
Labels: vue

Fix issue with act list not updating when scenes were added
  client/src/store/modules/show.js
Labels: client-js

Store previous act on act model
  client/src/views/show/config/ConfigActs.vue
  server/controllers/api/show/acts.py
  server/models/models.py
  server/models/schemas.py
Labels: vue

Add show config view, and set first act on a show
  client/package.json
  client/src/js/utils.js
  client/src/router/index.js
  client/src/store/store.js
  client/src/views/show/ShowConfigView.vue
  client/src/views/show/config/ConfigShow.vue
  server/controllers/api/show/shows.py
  server/models/models.py
  server/models/schemas.py
Labels: client-js, vue

Fix CV issues
  server/.pylintrc
  server/controllers/api/show/acts.py
  server/controllers/api/show/shows.py
Labels: none

Fix issue with act edit modal not showing
  client/src/views/show/config/ConfigActs.vue
Labels: vue
