Repository dreamteamprod/DigiScript, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, client-js, server-js, vue

.github/labeler.yml:

repo:
  - ./*
client-js:
  - any: ['client/**/*.js']
server-js:
  - any: ['server/**/*.js']
vue:
  - any: ['./**/*.vue']

Previous scene should be in same act as new scene
  client/src/views/show/config/ConfigScenes.vue
  server/controllers/api/show/scenes.py
Labels: vue

Add editing of scenes
  client/src/views/show/config/ConfigScenes.vue
  server/controllers/api/show/scenes.py
Labels: vue

Improve validation of previous act/scene
  client/src/views/show/config/ConfigActs.vue
  client/src/views/show/config/ConfigScenes.vue
  server/controllers/api/show/acts.py
  server/controllers/api/show/scenes.py
Labels: vue

Fix CV issues
  server/controllers/api/show/scenes.py
Labels: none

Configuration of Scenes (#90)
  client/package.json
  client/src/js/utils.js
  client/src/router/index.js
  client/src/store/modules/show.js
  client/src/store/store.js
  client/src/views/show/ShowConfigView.vue
  client/src/views/show/config/ConfigActs.vue
  client/src/views/show/config/ConfigScenes.vue
  client/src/views/show/config/ConfigShow.vue
  server/.pylintrc
  server/controllers/api/show/acts.py
  server/controllers/api/show/scenes.py
  server/controllers/api/show/shows.py
  server/models/models.py
  server/models/schemas.py
Labels: client-js, vue

Fix display width of cast and character views
  client/src/views/show/config/ConfigCast.vue
  client/src/views/show/config/ConfigCharacters.vue
Labels: vue

Unload current show if no longer present
  server/server/app_server.py
Labels: none

Go to site root if no show is loaded
  client/src/store/modules/system.js
Labels: client-js

Fix CV issues
  client/src/store/modules/system.js
  server/server/app_server.py
Labels: client-js

Unload current show if no longer present (#97)
  client/src/store/modules/system.js
  server/server/app_server.py
Labels: client-js

Fix issue with renaming acts
  server/controllers/api/show/acts.py
Labels: none

Log request body in debug mode
  server/utils/base_controller.py
Labels: none

Log request body in debug mode (#98)
  server/utils/base_controller.py
Labels: none

npm update
  client/package-lock.json
  client/package.json
Labels: none
