Repository dreamteamprod/DigiScript, pull requests merged in 2022-08, with the labels that each got.

#55 Migrated Docker to persistent volume storage. Moved confs.
  .idea/dataSources.xml
  docker-compose.yaml
  server/.gitignore
  server/utils/env_parser.py
  server/utils/settings.py
Labels: enhancement

#59 Configuration of characters
  .idea/DigiScript-2.iml
  client/src/store/modules/show.js
  client/src/store/modules/websocket.js
  client/src/views/show/config/ConfigCharacters.vue
  server/.pylintrc
  server/controllers/api/show/characters.py
  server/controllers/controllers.py
  server/models/models.py
  server/models/schemas.py
  server/requirements.txt
Labels: enhancement, python, javascript

#65 Update docker commands to reflect compose
  README.md
Labels: documentation

#67 Remove globals from package.json
  client/package.json
Labels: javascript

#68 Validate show start and end date ordering
  client/src/views/ConfigView.vue
  server/controllers/api/show/shows.py
Labels: bug, python, javascript

#69 Add current show to request handler during prepare
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  client/src/store/modules/show.js
  client/src/store/modules/system.js
  server/controllers/api/show/cast.py
  server/controllers/api/show/characters.py
  server/controllers/api/show/shows.py
  server/controllers/base_controller.py
Labels: python, javascript

#73 Configuration of show acts
  client/src/store/modules/show.js
  client/src/views/show/config/ConfigActs.vue
  server/controllers/api/show/acts.py
  server/controllers/controllers.py
  server/models/models.py
  server/models/schemas.py
Labels: enhancement, python, javascript

#74 Update settings on websocket reconnect
  client/src/App.vue
  client/src/store/modules/system.js
  server/controllers/ws_controller.py
Labels: bug, python, javascript

#80 Web server logging to file
  server/server/app_server.py
  server/utils/logger.py
  server/utils/settings.py
Labels: python

#82 Only load show in web handler prepare if ID is not None/null
  server/controllers/base_controller.py
Labels: bug, python

#86 Programatically import controllers
  server/controllers/api/settings.py
  server/controllers/api/show/acts.py
  server/controllers/api/show/cast.py
  server/controllers/api/show/characters.py
  server/controllers/api/show/shows.py
  server/controllers/api/websocket.py
  server/controllers/controllers.py
  server/server/app_server.py
  server/utils/base_controller.py
  server/utils/pkg_utils.py
  server/utils/route.py
Labels: python

#89 Watch settings file for changes, and reload
  server/server/app_server.py
  server/utils/file_watcher.py
  server/utils/settings.py
Labels: enhancement, python

#90 Configuration of Scenes
  client/package.json
  client/src/js/utils.js
  client/src/router/index.js
  client/src/store/modules/show.js
  client/src/store/store.js
  client/src/views/show/ShowConfigView.vue
  client/src/views/show/config/ConfigActs.vue
  client/src/views/show/config/ConfigScenes.vue
  client/src/views/show/config/ConfigShow.vue
  server/.pylintrc
  server/controllers/api/show/acts.py
  server/controllers/api/show/scenes.py
  server/controllers/api/show/shows.py
  server/models/models.py
  server/models/schemas.py
Labels: enhancement, python, javascript

#97 Unload current show if no longer present
  client/src/store/modules/system.js
  server/server/app_server.py
Labels: bug, python, javascript

#98 Log request body in debug mode
  server/utils/base_controller.py
Labels: enhancement, python

#106 Configure GitHub labeler plugin
  .github/labeler.yml
  .github/workflows/label.yml
Labels: github, small-diff

#108 Configuration of Cue Types
  client/src/router/index.js
  client/src/store/modules/show.js
  client/src/views/show/ShowConfigView.vue
  client/src/views/show/config/ConfigCues.vue
  server/controllers/api/show/cues.py
  server/models/models.py
  server/models/schemas.py
Labels: client, large-diff, server

#110 Remove font colour override
  client/src/App.vue
Labels: client, xsmall-diff

#112 Fix navbar link active colour
  client/src/assets/styles/dark.scss
Labels: client, xsmall-diff

#114 Add websocket health indicator
  client/src/App.vue
  client/src/store/modules/websocket.js
Labels: small-diff, client

#117 Disable system and show config if websocket is unhealthy
  client/src/App.vue
Labels: small-diff, client

#118 Limit act first scene choice
  client/src/views/show/config/ConfigScenes.vue
  server/controllers/api/show/acts.py
Labels: small-diff, client, server

#120 Configuration of Character Groups
  client/package-lock.json
  client/package.json
  client/src/main.js
  client/src/router/index.js
  client/src/store/modules/show.js
  client/src/views/show/ShowConfigView.vue
  client/src/views/show/config/ConfigCharacterGroups.vue
  server/controllers/api/show/characters.py
  server/models/models.py
  server/models/schemas.py
Labels: client, large-diff, server
